.Portfolio {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.PortfolioHeader {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.PortfolioPages {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}
.PortfolioPages .PortfolioPageLink {
	width: calc(100% - 16px);
	padding-left: 0px;
	box-sizing: border-box;
	transition: padding-left 0.25s ease-in-out;
}
.PortfolioPages .PortfolioPageLink a {
	text-decoration: none;
	color: initial;
}
.PortfolioPages .PortfolioPageLink {
	color: var(--blue);
}
.PortfolioPages .PortfolioPageLink:hover {
	cursor: pointer;
	padding-left: 16px;
}

.PortfolioItems {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	transition: width 0.25s ease-in-out;
}
.PortfolioRows {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.PortfolioRow {
	width: 100%;
}

.PortfolioItem {
	position: relative;
	width: 100%;
	height: auto;
	margin: 8px;
}
.PortfolioItem .PortfolioItemImageWrapper {
	position: relative;
	width: 160px;
	height: 160px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	padding: 16px;
	box-sizing: border-box;
	border-radius: 50%;
}
.PortfolioItem .PortfolioItemImage {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

	width: 100%;
	max-height: 100%;
}
.PortfolioItem .PortfolioItemHover {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	padding: 4px;
	box-sizing: border-box;
	font-size: 0;

	transition: opacity 0.25s ease-in-out, font-size 0.25s ease-in-out;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
.PortfolioItem .PortfolioItemHover p {
	text-align: center;
	font-style: italic;
	color: white;
	font-weight: bold;
}
.PortfolioItem:hover {
	cursor: pointer;
}
.PortfolioItem:hover .PortfolioItemHover {
	opacity: 1;
	font-size: var(--h7);
}

.PortfolioDisplay {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 32px;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
.PortfolioDisplayCover {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:  rgb(0,0,0,0.5);
}
.PortfolioBackButton {
	position: absolute;
	z-index: 1001;
	left: 0;
	top: 0;
}
.PortfolioDisplayPanel {
	width: 100%;
	height: min-content;
	max-height: 100%;
	max-width: 900px;
	padding: 48px;
	overflow-y: auto;
	background-color:  white;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	border-radius: 16px;
	position: relative;
}
.PortfolioContent {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.PortfolioContent .PortfolioSidebar {
	flex-basis: 30%;
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 240px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.PortfolioContent .PortfolioMain {
	margin-left: 32px;
	flex-grow: 1;
}
.PortfolioContent .PortfolioThumbnail {
	height: auto;
	height: 160px;
	margin: auto;
}
.PortfolioContent .PortfolioStatus {
	width: auto;
	padding: 8px 16px 8px 16px;
	border-radius: 16px;
}
.PortfolioContent .PortfolioStatus.Ongoing {
	background-color: blue;
	color: white;
}
.PortfolioContent .PortfolioStatus.OnHold {
	background-color: yellow;
}
.PortfolioContent .PortfolioStatus.Completed {
	background-color: green;
	color: white;
}